/* @import './base.css'; */

.greetings h1,
.greetings h3 {
  text-align: center;
}

.closeButton {
  background-color: red;
}

.color {
  width: 1em;
  border-radius: 100%;
}

button.color {
  height: 35px;
  padding: 0 1em;
}

canvas {
  border: 2px solid black;
  width: 300px;
  height: 300px;
}

@media screen and (width <= 840) {
  p {
    color: red;
  }
}